

 .card-width{
  max-width: 20rem;
  min-width: 14rem;
 }

 .card-image{
  object-fit: cover;
  height: 15rem;
 }

 .img-one-article{
  object-fit: cover;
  height: 18rem;
  max-width: 25rem;
  width: 100%; 
  }

.between{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.textarea-height{
  height: 200px;
}

h1,h2,nav{
  font-family: 'Ubuntu', sans-serif;
}

body{
  height: 100vh;
  margin:0;
} 

.main-content{
  min-height: calc(100vh - 130px);
  
}

.main-nav{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}

.hero{
  height: 300px;
  background-image: url('../image/phone-reading2.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  background-position: center;
}

header{
   min-height:50px;
}

footer{ 
  min-height:50px; 
/*   background-color: rgb(232, 232, 232);
 */  box-shadow: inset 0px 10px 15px -3px rgba(0,0,0,0.1);

} 

.smallh2{
  font-size: 1.4rem;
}

.half{
  width: 50%;
}

@media only screen and (max-width: 992px){
  .half{
    width: 100%;
  }
}

@media only screen and (min-width:768px) and (max-width: 992px){
  .half{
    width: 75%;
  }
}